<%= bootstrap_form_for @article do |f| %>
  <div class="panel panel-default" id="article-details">
    <div class="panel-heading">
      <%= t('article.details') %>
    </div>
    <div class="panel-body">
      <%= f.text_field :tags %>
    </div>
  </div>

  <div class="panel panel-default" id="article-metadatas">
    <div class="panel-heading">
      <%= t('article.metadatas') %>
    </div>
    <div class="panel-body">
      <p><strong><%= t('article.location') %> : </strong><p>
      <p><strong><%= t('article.url') %> : </strong><p>
      <p><strong><%= t('article.revision') %> : </strong><p>
    </div>
  </div>
<% end %>
