<div class="panel panel-default" id="change-password">
  <div class="panel-heading">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ad illum redeo. Efficiens dici potest. Satis est ad
      hoc responsum. Ita prorsus, inquam; </p>
  </div>
  <div class="panel-body">
    <%= bootstrap_form_for @user, :url => password_reset_path(@user), :html => {:method => :put}, :inline_errors => false do |f| %>
        <% if @user.errors.any? %>
            <%= f.error_summary %>
        <% end %>

        <div class="alert alert-info">
          <%= f.label :email %>: <%= @user.email %>
        </div>

        <%= f.password_field :password %>
        <%= f.password_field :password_confirmation %>
        <%= f.hidden_field :token, :value => @token %>

        <%= f.submit t('password.update') %>
    <% end %>
  </div>
</div>