<%= render 'shared/sidebar_actions' %>

<% if current_user %>
  <div class="well" id="article-actions">
    <%= link_to t('models.article.update'), edit_article_path(article.slug),
                                     class: 'btn btn-success btn-block',
                                     type: 'button' %>

    <%= link_to t('models.article.report'), new_article_report_path(article.id),
              id: 'create_report',
              class: "btn btn-danger btn-block",
              data: {
                toggle: 'modal',
                target: '#modal-report-article'
              } %>
  </div>
<% end %>

<%= bootstrap_form_for article, layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-8" do |f| %>
  <div class="panel panel-default" id="article-details">
    <div class="panel-heading">
      <%= t('article.details') %>
    </div>
    <div class="panel-body">
      <%= f.static_control nil, label: t('models.article.theme') do %>
        <%= article.theme_title %>
      <% end %>
      <%= f.static_control nil, label: t('models.article.chronology') do %>
        <%= article.chronology_title %>
      <% end %>
      <%= f.static_control nil, label: t('models.article.tags') do %>
        <%= article.tags %>
      <% end %>
    </div>
  </div>

  <div class="panel panel-default" id="article-metadatas">
    <div class="panel-heading">
      <%= t('article.metadatas') %>
    </div>
    <div class="panel-body">
      <%= f.static_control nil, label: t('models.article.revision') do %>
        <%= article.history %>
      <% end %>
      <%= f.static_control nil, label: t('models.article.url') do %>
        <%= link_to article.slug, article_path(article.slug) %>
      <% end %>
      <%= f.static_control nil, label: t('models.article.location') do %>
        <%= article.location %>
      <% end %>
    </div>
  </div>
<% end %>
