<%= render 'shared/sidebar_actions' %>

<div class="well" id="article-actions">
  <%= link_to t('article.update'), edit_article_path(@article.id),
                                   class: 'btn btn-success btn-block',
                                   type: 'button' %>
  <button class="btn btn-danger btn-block" type="button"><%= t('article.signal') %></button>
  <button class="btn btn-default btn-block" type="button"><%= t('export') %></button>
</div>

<div class="panel panel-default" id="article-details">
  <div class="panel-heading">
    <%= t('article.details') %>
  </div>
  <div class="panel-body">
    <p><strong><%= t('models.article.theme') %> : </strong><%= @article.theme.title %><p>
    <hr>
    <p><strong><%= t('models.article.chronology') %> : </strong><%= @article.chronology.title %><p>
    <hr>
    <p><strong><%= t('models.article.tags') %></strong><p>
    <div id="article-tags">
      <% @article.tags_array.each do |t| %>
        <h4><span class="label label-primary"><%= t %></span></h4>
      <% end %>
    </div>
  </div>
</div>

<div class="panel panel-default" id="article-metadatas">
  <div class="panel-heading">
    <%= t('article.metadatas') %>
  </div>
  <div class="panel-body">
    <p><strong><%= t('models.article.location') %> : </strong><p>
    <p><strong><%= t('models.article.url') %> : </strong><p>
    <p><strong><%= t('models.article.revision') %> : </strong><p>
  </div>
</div>
