<div class="media comment">
  <a class="pull-left" href="#">
    <img class="media-object img-responsive img-circle comment-avatar" src="<%= comment.user_avatar %>" alt="64x64">
  </a>
  <div class="media-body">

    <div class="title color<%= rand(1..5) %>">
      <%= comment.user %>
      <div>
        Par <span class="author">link_to comment.user, user_path(comment.user_id)</span>
        le <span class="datetime"><%= comment.created_at %></span>
      </div>
    </div>

    <%= comment.content %>

    <div class="shareAndComments">
      <div class="share"><span>15</span></div>
      <div class="comments"><span>48</span></div>
    </div>
  </div>
</div>
