<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h4 id="modal-create-comment-label">
    <%= fa_icon "comment" %>
    <%= t('article.comment.title.create') %>
  </h4>
</div>
<%= bootstrap_form_for [@article, Comment.new],
                       url: {action: "create"},
                       remote: true,
                       layout: :horizontal do |f| %>
  <div class="modal-body">
    <%= f.text_area   :content %>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary ladda-button"
            data-style="expand-right"
            name="commit" type="submit">
      <span class="ladda-label"><%= t('article.comment.do.create') %></span>
    </button>
  </div>
<% end %>
