<%= bootstrap_form_tag url: search_articles_path, remote: true do |f| %>
  <div class="panel panel-default" id="search-page">
    <div class="panel-heading clearfix">
      <div class="pull-left">
        <h4 class="panel-title">
          <%= fa_icon "search" %>
          <%= t('search.extended') %>
        </h4>
      </div>
      <div class="pull-right">
        <%= f.submit t('do.search'), class: 'btn btn-primary btn-sm' %>
      </div>
    </div>

      <div class="panel-body">
        <%= f.search_field :query, value:params[:query], hide_label: true, placeholder: t('search.title_placeholder') %>

        <hr>
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5><%= t('search.by_themes') %></h5>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-4 vertical-center">
                    <button role="button" class="btn btn-block btn-sm btn-default themes-all">
                      <%= fa_icon "circle", text: t('all') %>
                    </button>
                     <button role="button" class="btn btn-block btn-sm btn-warning themes-none">
                      <%= fa_icon "circle-o", text: t('none') %>
                    </button>
                  </div>
                  <div class="col-md-7 vertical-center">
                    <%= collection_check_boxes @article, :themes, Theme.all, :id, :title do |cb| %>
                      <div class="checkbox">
                        <%= cb.label %>
                        <%= cb.check_box %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5><%= t('search.by_tags') %></h5>
              </div>
              <div class="panel-body">
                  <%= f.text_field :tags, hide_label: true, placeholder: 'Search tags...' %>
              </div>
            </div>
          </div>
        </div>

        <div id="no-result" class="hidden">
          <p class="bg-info">
            <%= t('search.no_result') %>
          </p>
        </div>

        <ul class="media-list" id="search-results">
          <% if @articles.any? %>
            <%= render "/articles/search_results", articles: @articles %>
          <% else %>
            <p class="bg-info">
              <%= t('search.no_result') %>
            </p>
          <% end %>
        </ul>

      </div>

  </div>
<% end %>

<!-- Data -->
<div id="data-load-tags" data-load="<%= tags_path %>">
</div>
