<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <%= fa_icon "search" %>
      <%= t('search.extended') %>
    </h4>
  </div>
  <%= bootstrap_form_tag url: search_articles_path, remote: true do |f| %>
    <div class="panel-body">
      <%= f.search_field :query, hide_label: true, placeholder: 'Search content...' %>

      <hr>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5>By theme</h5>
            </div>
            <div class="panel-body">
                <%= f.collection_select :theme_id, Theme.all, :id, :title, hide_label: true %>
            </div>
          </div>
        </div>
        <div class="col-md-6 panel">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5>By tags</h5>
            </div>
            <div class="panel-body">
                <%= f.text_field :tags, hide_label: true, placeholder: 'Search tags...' %>
            </div>
          </div>
        </div>
      </div>

      <div id="search-results">

        <div id="no-result" class="hidden">
          <p class="bg-info">
            <%= t('search.no_result') %>
          </p>
        </div>
      </div>

    </div>
    <div class="panel-footer">
      <%= f.primary 'Search' %>
    </div>
  <% end %>
</div>
