<div class="well" id="article-actions">
  <%= f.submit t('article.do.publish'), class: 'btn btn-primary btn-block' %>
  <% if article.published? %>
    <%= link_to t('article.do.view'), article_path(article.slug), class: 'btn btn-default btn-block' %>
  <% end %>
</div>

<div class="panel panel-default" id="article-details">
  <div class="panel-heading">
    <h4 class="panel-title">
      <%= fa_icon "list" %>
      <%= t('article.details') %>
    </h4>
  </div>
  <div class="panel-body">
    <%= f.collection_select :theme_id, Theme.all, :id, :title %>
    <%= f.collection_select :chronology_id, Chronology.all, :id, :title %>
    <%= f.text_field :tags %>
    <%= f.form_group do %>
      <%= f.check_box  :public, inline: true %>
      <%= f.check_box  :locked, inline: true %>
    <% end %>
  </div>
</div>

<div class="panel panel-default" id="article-metadatas">
  <div class="panel-heading">
    <h4 class="panel-title">
      <%= fa_icon "tag" %>
      <%= t('article.metadatas') %>
    </h4>
  </div>
  <div class="panel-body">
    <!-- TODO: Waiting for bootstrap-rails-form to implement append-prepend buttons -->
    <div class="form-group">
      <label class="control-label" for="article_location"><%= Article.human_attribute_name(:location) %></label>
      <div class="input-group">
        <input class="form-control location" data-latlng="<%= article.location %>" data-title="<%= article.title %>" data-uri="<%= article_path(article.slug) %>" readonly="readonly" id="article_location" name="article[location]" type="text" value="<%= article.location %>">
        <span class="input-group-btn">
          <a class="btn btn-default" href="#" id="bt_fill_location">
            <i class="fa fa-map-marker"></i>
          </a>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default" id="article-external-notes">
  <div class="panel-heading">
    <h4 class="panel-title">
      <%= fa_icon "link" %>
      <%= t('article.external_links') %>
      <div class="pull-right">
        <%= f.link_to_add t('article.link.do.add') , :links, wrapper: false, class: "btn btn-xs btn-primary", :data => { :target => "#article-links" } %>
      </div>
    </h4>
  </div>
  <div class="panel-body">
    <table class="table table-condensed" id="article-links" >
      <%= f.fields_for :links, wrapper: false do |link_form| %>
        <tr class="fields">
          <td><%= link_form.text_field :url, hide_label: true, placeholder: t('article.link.placeholder.url') %></td>
          <td><%= link_form.link_to_remove("x", class: 'btn btn-sm btn-danger') %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>



