<div class="well" id="article-actions">
  <%= f.submit t('article.do.publish'), class: 'btn btn-primary btn-block' %>
  <%= link_to t('do.cancel'), :back, class: 'btn btn-danger btn-block' %>
</div>

<div class="panel panel-default" id="article-details">
  <div class="panel-heading">
    <h4 class="panel-title">
      <%= fa_icon "list" %>
      <%= t('article.details') %>
    </h4>
  </div>
  <div class="panel-body">
    <%= f.collection_select :theme_id, Theme.all, :id, :title %>
    <%= f.collection_select :chronology_id, Chronology.all, :id, :title %>
    <%= f.text_field :tags %>
    <%= f.form_group do %>
      <%= f.check_box  :public, inline: true %>
      <%= f.check_box  :locked, inline: true %>
    <% end %>
  </div>
</div>

<div class="panel panel-default" id="article-metadatas">
  <div class="panel-heading">
    <h4 class="panel-title">
      <%= fa_icon "tag" %>
      <%= t('article.metadatas') %>
    </h4>
  </div>
  <div class="panel-body">
    <!-- TODO: Waiting for bootstrap-rails-form to implement append-prepend buttons -->
    <div class="form-group">
      <label class="control-label col-sm-4" for="article_location"><%= Article.human_attribute_name(:location) %></label>
      <div class="col-sm-8">
        <div class="input-group">
          <input class="form-control location" data-latlng="<%= @article.location %>" readonly="readonly" id="article_location" name="article[location]" type="text">
          <span class="input-group-btn">
            <a class="btn btn-default" href="#" id="bt_fill_location">
              <i class="fa fa-map-marker"></i>
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>



