<div id="search-column" class="hidden-xs hidden-sm">
<%= render 'shared/sidebar_actions' %>
</div>

<% if current_user %>
  <div class="well hidden-xs hidden-sm" id="article-actions">

    <%= link_to edit_article_path(article.slug),
                class: 'btn btn-success btn-block',
                type: 'button' do %>
      <%= fa_icon "edit", text: t('article.do.update') %>
    <% end %>

    <%= link_to new_article_report_path(article.id),
              id: 'create_report',
              class: "btn btn-danger btn-block",
              data: {
                toggle: 'modal',
                target: '#modal-report-article'
              } do %>
      <%= fa_icon "thumbs-down", text: t('article.do.report') %>
    <% end %>
  </div>
<% end %>

<%= bootstrap_form_for article, layout: :horizontal, label_col: "col-sm-5", control_col: "col-sm-7" do |f| %>
<div id="article-info" class="hidden-xs hidden-sm">
  <div class="panel panel-default" id="article-details">
    <div class="panel-heading">
      <h4 class="panel-title">
        <%= fa_icon "list" %>
        <%= t('article.details') %>
      </h4>
    </div>
    <div class="panel-body">
      <%= f.static_control nil, label: Article.human_attribute_name(:theme_id) do %>
        <%= article.theme %>
      <% end %>
      <%= f.static_control nil, label: Article.human_attribute_name(:chronology_id) do %>
        <%= article.chronology %>
      <% end %>
      <%= f.static_control nil, label: Article.human_attribute_name(:tags) do %>
        <%= article.tags %>
      <% end %>
    </div>
  </div>

  <div class="panel panel-default" id="article-metadatas">
    <div class="panel-heading">
      <h4 class="panel-title">
        <%= fa_icon "tag" %>
        <%= t('article.metadatas') %>
      </h4>
    </div>
    <div class="panel-body">
      <div class="history">
        <%= f.static_control nil, label: Article.human_attribute_name(:revision) do %>
          <%= article.history %>
        <% end %>
      </div>
      <%= f.static_control nil, label: Article.human_attribute_name(:slug) do %>
        <%= link_to article.display_slug, article.url %>
      <% end %>
      <%= f.static_control nil, label: Article.human_attribute_name(:location) do %>
        <span id="article-location" class="location" data-theme="<%= article.theme.downcase %>" data-latlng="<%= article.location %>" data-title="<%= article.title %>" data-uri="<%= article_path(article.slug) %>"><%= article.display_location %></span>
      <% end %>
    </div>
  </div>

  <div class="panel panel-default" id="article-contributors">
    <div class="panel-heading">
      <h4 class="panel-title">
        <%= fa_icon "users" %>
        <%= t('article.contributors') %>
      </h4>
    </div>
    <div class="panel-body">
      <ul>
        <% @contributors.each do |c| %>
          <li><%= link_to c.nickname, user_path(c.id) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>
