<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 col-xs-12 nav-row center-block">
    <div class="nav-col col-md-4 col-xs-3 active">
      <a href="#content" data-toggle="tab">
        <span class="glyphicon glyphicon-home"></span>
        <p><%= t('article.content') %></p>
      </a>
    </div>
    <div class="nav-col visible-sm visible-xs col-xs-3">
      <a href="#info" id="show_info" class="mobile-toggle-button" data-target="#article-info">
        <span class="glyphicon glyphicon-info-sign"></span>
        <p><%= t('article.details') %></p>
      </a>
    </div>
    <div class="nav-col col-md-4 col-xs-3">
      <a href="#images" id="show_images" data-toggle="tab">
        <span class="glyphicon glyphicon-picture"></span>
        <p><%= t('article.pictures') %><span class="badge pull-right images-count"><%= article.images_count %></span></p>
      </a>
    </div>
    <div class="nav-col col-md-4 col-xs-3">
      <a href="#videos" id="show_videos" data-toggle="tab">
        <span class="glyphicon glyphicon-facetime-video"></span>
        <p><%= t('article.videos') %><span class="badge pull-right videos-count"><%= article.videos_count %></span></p>
      </a>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>


