<div class="article row">
  <div class="col-xs-12 col-sm-12 col-md-3">
    <a href="#" title="<%= article.title %>" class="thumbnail">
      <img src="http://lorempixel.com/250/140/nature" alt="Lorem ipsum" />
    </a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-2">
    <ul class="meta-search">
      <li><%= fa_icon "calendar", text: article.created_at %></li>
      <li><%= fa_icon "comments", text: article.comment_count %></li>
      <li><%= fa_icon "star", text: article.share_count %></li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
    <h3><%= link_to article.title, article.url %></h3>
    <p><%= article.body(200) %></p>
  </div>
  <span class="clearfix"></span>
</div>
