<hr>
<li class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="http://placehold.it/64x64" alt="64x64">
  </a>
  <div class="media-body">
    <div class="row">
      <div class="col-md-9">
        <%= link_to article_path(article.slug) do %>
          <h4 class="media-heading" data-latlng="<%= article.location %>" data-title="<%= article.title %>" data-uri="<%= article_path(article.slug) %>"><%= article.title %></h4>
        <% end %>
        <%= article.body(140) %>
      </div>
      <div class="col-md-3">
        <div class="well text-center">
          <%= fa_icon "comments-o lg", text: article.comment_count %>
          <%= fa_icon "share-square-o lg", text: article.share_count %>
        </div>
      </div>
    </div>
  </div>
</li>
