<div class="panel panel-default color<%= rand(1..5) %>" id="article-comments" data-load="<%= article_comments_path(article.id) %>">
  <div class="panel-heading clearfix">
    <div class="pull-left">
      <h3 class="panel-title">
        <%= t('article.comment.list') %>
      </h3>
    </div>
    <div class="pull-right">
      <% if current_user %>
        <%= link_to new_article_comment_path(article.id),
                  class: "btn btn-default btn-sm",
                  id: "create_comment",
                  data: {
                    toggle: 'modal',
                    target: '#modal-create-comment'
                  } do %>
          <%= fa_icon 'comment', text: t('article.comment.do.create') %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="panel-body" id="comments-list">
    <a class="more-comments-link" href="<%= article_comments_path(article.id) %>"></a>
  </div>

</div>
