<% edit_mode = false if local_assigns[:edit_mode].nil? %>

<div class="tab-pane clearfix" id="videos">
  <h4>
    <%= t('article.video.list') %>
    <small class="pull-right">
      <% if edit_mode %>
        <%= link_to new_article_video_path(@article.id),
                id: "add_video",
                class: "btn btn-primary btn-sm",
                data: {
                  toggle: 'modal',
                  target: '#modal-add-video'
                }  do %>
            <%= fa_icon "cloud-upload", text: t('article.video.do.add'), right: true %>
        <% end %>
      <% end %>
    </small>
  </h4>
  <hr>

  <% if @article.videos.any? %>
    <div class="row" id="videos-list">
      <%= render partial: '/videos/video', collection: @article.videos, locals: {article: @article, edit_mode: edit_mode} %>
    </div>
  <% else %>
    <p class="bg-info"><%= t('article.video.none') %></p>
  <% end %>
</div>
