<%= bootstrap_nested_form_for @article do |f| %>

  <div class="col-md-3">
    <%= render 'articles/sidebars/edit', f: f, article: article %>
  </div>

  <div class="col-md-9">
    <div id="article-control">
      <%= render 'actionbar', article: article %>
    </div>

    <div id="article-container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= fa_icon "edit" %>
            <%= t('article.title.edit') %>
          </h3>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane active" id="content">
              <%= f.text_field  :title %>
              <%= f.text_area   :body, rows: 32 %>
              <%= f.hidden_field :published, value: '1' %>

              <%= render partial: 'articles/links/edit', locals: { :f => f } %>
            </div>

            <%= render 'articles/images', edit_mode: true %>
            <%= render 'articles/videos', edit_mode: true %>
          </div>
        </div>
      </div>

    </div>
  </div>
<% end %>

<!-- Data -->
<div id="data-select-image" data-load="<%= select_article_images_path(@article.id) %>">
</div>
<div id="data-load-tags" data-load="<%= tags_articles_path %>">
</div>

<%= render 'articles/modals/edit' %>
