<%= bootstrap_form_for @article do |f| %>

  <div class="col-lg-3">
    <%= render 'articles/sidebars/edit', f: f %>
  </div>

  <div class="col-lg-9">
    <div class="row">
      <div class="col-lg-11">
          <div class="panel panel-default" id="article-content">
            <div class="panel-heading">
              <h3 class="panel-title"><%= t('models.article.edit') %></h3>
            </div>
            <div class="panel-body">
              <div class="tab-content">
                <div class="tab-pane active" id="content">
                  <%= f.text_field  :title %>
                  <%= f.text_area   :body, rows: 8 %>
                </div>

                <%= render 'articles/images', edit_mode: true %>
                <%= render 'articles/videos', edit_mode: true %>
              </div>
            </div>
          </div>
      </div>
      <div class="col-lg-1" id="article-control">
        <%= render 'actionbar', article: @article %>
      </div>
    </div>
  </div>
<% end %>

<!-- Data -->
<div id="data-select-image" data-load="<%= select_article_images_path(@article.id) %>">
</div>

<%= render 'articles/modals/edit' %>
