<%= bootstrap_form_for @article, url: {action: "create"}, layout: :horizontal do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <p class="panel-title"><%= t('article.title.create') %></p>
    </div>
    <div class="panel-body">
      <div class="alert alert-info">
        <%= t('article.create_welcome') %>
      </div>

      <%= f.text_field  :title %>
      <%= f.collection_select :theme_id, Theme.all, :id, :title %>
      <%= f.collection_select :chronology_id, Chronology.by_creation_date, :id, :title %>
      <%= f.text_field :tags %>
      <%= f.form_group do %>
        <%= f.check_box  :public, inline: true %>
      <% end %>
      <%= f.hidden_field :published, value: '0' %>

    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right"><%= f.submit t('article.do.create'), class: "btn btn-primary" %></div>
    </div>
  </div>
<% end %>

<!-- Data -->
<div id="data-load-tags" data-load="<%= tags_path %>">
</div>
