<%= bootstrap_form_for @article, url: {action: "create"} do |f| %>

  <div class="col-lg-3">
    <%= render 'articles/sidebars/edit', f: f %>
  </div>

  <div class="col-lg-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title"><%= t('article.create_welcome') %></p>
      </div>
      <div class="panel-body">
        <%= f.text_field  :title %>
        <%= f.text_area   :body, rows: 32 %>
      </div>
    </div>
  </div>
<% end %>
