<div class="row">
  <%= bootstrap_form_for @article,
                         :url => {action: "create"} do |f| %>
    <div class="col-lg-8" id="article-content">
      <div class="panel panel-default" id="change-password">
        <div class="panel-heading">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ad illum redeo. Efficiens dici potest. Satis est ad
            hoc responsum. Ita prorsus, inquam; </p>
        </div>
        <div class="panel-body">
          <%= f.text_field  :title %>
          <%= f.text_area   :body, rows: 8, :class => "tinymce" %>
        </div>
      </div>
    </div>
    <div class="col-lg-4" id="article-options">
      <div class="well">
        <%= f.submit t('publish'), class: 'btn btn-primary btn-block', role: 'button' %>
        <hr>
        <%= f.text_field :tags %>
        <%= f.check_box  :public %>
        <%= f.check_box  :locked %>
        <hr>
        <%= f.text_field :latitude %>
        <%= f.text_field :longitude %>
      </div>
    </div>
  <% end %>
</div>
