<div class="panel panel-default" id="change-password">
  <div class="panel-heading">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ad illum redeo. Efficiens dici potest. Satis est ad
      hoc responsum. Ita prorsus, inquam; </p>
  </div>
  <div class="panel-body">
    <%= bootstrap_form_for @article,
                           :url => {action: "create"} do |f| %>

        <%= f.text_field  :title %>
        <%= f.text_area   :body %>

        <%= f.form_group do %>
          <%= f.submit t('create') %>
        <% end %>
    <% end %>
  </div>
</div>
