<% content_for :sidebar do %>
  <%= render partial: 'articles/layouts/sidebar_show', locals: {article: @article} %>
<% end %>

<div class="row">
  <div class="col-lg-11">
    <div class="panel panel-default" id="article-content">
      <div class="panel-heading clearfix">
        <div class="pull-left">
          <h3 class="panel-title"><%= @article.title %></h3>
        </div>
        <div class="pull-right">
          <span class="label label-default">
            <%= @article.public? ? t('article.public') : t('article.private') %>
          </span>
        </div>
      </div>
      <div class="panel-body">
        <%=raw @article.body %>
      </div>
    </div>

    <%= render 'images',   article: @article %>
    <%= render 'comments', article: @article %>

  </div>
  <div class="col-lg-1" id="article-control">
    <%= render 'actionbar', article: @article %>
  </div>
</div>

<!-- Modals -->
<div id="modal-report-article" class="modal" aria-labelledby="modal-report-article-label" aria-hidden="true" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>
