<% content_for :sidebar do %>
  <%= render partial: 'articles/layouts/sidebar_show', locals: {article: @article} %>
<% end %>

<div class="row">
  <div class="col-lg-11">
    <div class="panel panel-default" id="article-content">
      <div class="panel-heading clearfix">
        <div class="pull-left">
          <h3 class="panel-title"><%= @article.title %></h3>
        </div>
        <div class="pull-right">
          <%= @article.visibility %>
        </div>
      </div>
      <div class="panel-body">
        <%=raw @article.body %>
      </div>
    </div>

    <%= render 'images',   article: @article %>
    <%= render 'comments', article: @article %>

    <div class="social-buttons">
      <a href="http://twitter.com/share" class="shareButton shareTwitter" data-text="<%= strip_tags(@article.body[0..150]) %>" data-href="<%= request.original_url %>" data-title="<%= @article.title %>" rel="nofollow" target="_blank"><span class="vhidden">Share on Twitter</span></a>
      <div class="g-plusone" data-annotation="none" data-callback="socialControllers.google.callback" data-recommendations="false" data-href="<%= request.original_url %>"></div>
      <a href="http://www.facebook.com/sharer.php?u=<%= request.original_url %>&t=<%= @article.title %>" class="shareButton shareFacebook" data-text="<%= strip_tags(@article.body[0..150]) %>" data-href="<%= request.original_url %>" data-title="<%= @article.title %>" rel="nofollow" target="_blank"><span class="vhidden">Share on Facebook</span></a>
    </div>

  </div>
  <div class="col-lg-1" id="article-control">
    <%= render 'actionbar', article: @article %>
  </div>

  <%= render 'articles/modals/modals_show' %>
</div>
