<% content_for :sidebar do %>
  <%= render 'articles/sidebars/show', article: article %>
<% end %>

<!-- Could be used on JS to build AJax URLs -->
<div class="article-data" data-uri="<%= article.url %>"></div>

<div id="article-control">
  <%= render 'actionbar', article: article %>
</div>

<div id="article-container">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <img class="author" src="http://lorempixel.com/53/53/people/?<%= article.url %>">
      <img class="themeIco" src="/assets/themes/<%= asset_path 'icoChat.png' %>">
      <div class="title color<%= rand(1..5) %>">
        <%= article.title %>
        <div>
          Par <span class="author">Laurence</span>
          <!-- In case of multiple author, add authorSeparator.png between
          each span.author -->
          le <span class="datetime">XX/XX/XXX</span>
          -
          <%= article.visibility %>
        </div>
      </div>

      <div class="shareAndComments">
        <div class="share"><span>15</span></div>
        <div class="comments"><span>48</span></div>
      </div>
    </div>

    <div class="panel-body">
      <div class="tab-content">
        <div class="tab-pane active" id="content">
          <%= render 'summary', article: article %>

          <div class="article-body">
            <%= article.full_body %>
          </div>

          <% if @article.images.any? %>
            <div class="well article-featured-images">
              <div class="row row-centered">
                <%= article.featured_images %>
              </div>
            </div>
          <% end %>
        </div>

        <%= render 'articles/images' %>
        <%= render 'articles/videos' %>
      </div>
    </div>

    <div class="panel-footer">
      <div class="text-center">
        <%= render 'social',   article: article %>
      </div>
    </div>
  </div>

  <%= render partial: 'articles/links/show', locals: { :article => article } %>

</div>

  <%= render 'comments', article: article %>
  <%= render 'articles/modals/show' %>

