<% content_for :sidebar do %>
  <%= render partial: 'articles/layouts/sidebar_show', locals: {article: @article} %>
<% end %>

<div class="row">
  <div class="col-lg-11">
    <div class="panel panel-default" id="article-content">
      <div class="panel-heading clearfix">
        <div class="pull-left">
          <h3 class="panel-title"><%= @article.title %></h3>
        </div>
        <div class="pull-right">
          <%= @article.visibility %>
        </div>
      </div>
      <div class="panel-body">
        <%=raw @article.body %>
      </div>
    </div>

    <%= render 'images',   article: @article %>
    <%= render 'comments', article: @article %>

    <div class="social-buttons">
      <a href="http://twitter.com/share" class="socialite twitter-share" data-text="<%= @article.title %>" data-url="<%= request.original_url %>" data-count="vertical" rel="nofollow" target="_blank"><span class="vhidden">Share on Twitter</span></a>
      <a href="https://plus.google.com/share?url=<%= request.original_url %>" class="socialite googleplus-one" data-size="tall" data-href="<%= request.original_url %>" rel="nofollow" target="_blank"><span class="vhidden">Share on Google+</span></a>
      <a href="http://www.facebook.com/sharer.php?u=<%= request.original_url %>&t=<%= @article.title %>" class="socialite facebook-like" data-href="<%= request.original_url %>" data-send="false" data-layout="box_count" data-width="60" data-show-faces="false" rel="nofollow" target="_blank"><span class="vhidden">Share on Facebook</span></a>
    </div>

  </div>
  <div class="col-lg-1" id="article-control">
    <%= render 'actionbar', article: @article %>
  </div>
</div>

<%= render 'articles/modals/modals_show' %>
