<div class="panel panel-default" id="sidebar-chronologies">
  <div class="panel-heading">
    <h4 class="panel-title">
      <%= fa_icon "clock-o" %>
      <%= t('cells.chronologies.title') %>
    </h4>
  </div>
  <div class="list-group">
    <% @chronologies.each do |c| %>
      <%= link_to chronology_path(c.slug), class: 'chronology list-group-item' do %>
        <%= c.title %>
        <span class="badge"><%= c.article_count %></span>
      <% end %>
    <% end %>
  </div>
</div>
