<div class="panel panel-default" id="sidebar-chronologies">
  <div class="panel-heading">
    <h4 class="panel-title">
      <%= t('cells.chronologies.title') %>
    </h4>
  </div>
  <div class="list-group">
    <% @chronologies.each_with_index do |c, index| %>
      <%= link_to chronology_path(c.slug), class: 'chronology list-group-item' do %>
        <div class="chronology-level<%= index %>">
          <p><%= c.title %></p>
        </div>
        <span class="badge"><%= c.article_count %></span>
      <% end %>
    <% end %>
  </div>
</div>
