<div class="panel panel-default" id="sidebar-news">
  <div class="panel-heading">
    <h4 class="panel-title">
      <%= fa_icon "bolt" %>
      <%= t('cells.news.title') %>
    </h4>
  </div>
  <div class="list-group">
    <% @news.each do |n| %>
      <%= link_to n.url, class: 'new list-group-item location', data: {
          :latlng => n.location,
          :title  => n.title,
          :uri    => n.url
        } do %>
        <%= n.title %>

        <% unless n.location.blank? %>
          <span class="pull-right">
            <%= fa_icon "map-marker" %>
          </span>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
