<div class="panel panel-default" id="signup">
  <div class="panel-heading">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ad illum redeo. Efficiens dici potest. Satis est ad
      hoc responsum. Ita prorsus, inquam; </p>

    <p>Quid iudicant sensus? Duo Reges: constructio interrete. Sed residamus, inquit, si placet. Praeclare hoc
      quidem. </p>
  </div>
  <div class="panel-body">
    <%= bootstrap_form_for(@user, inline_errors: false) do |f| %>
        <% if @user.errors.any? %>
            <%= f.error_summary %>
        <% end %>

        <%= f.email_field :email %>
        <%= f.text_field :nickname %>
        <%= f.password_field :password %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit t('signup') %>
    <% end %>
  </div>
</div>