<%= bootstrap_form_for [@article, Video.new], url: {action: "create"}, layout: :horizontal do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="modal-add-video-label">
      <%= fa_icon "video-camera" %>
      <%= t('models.video.add') %>
    </h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-4">
        <a href="#" class="thumbnail">
          <img src="<%= asset_path 'youtube.png' %>" alt="youtube">
        </a>
      </div>
      <div class="col-md-4">
        <a href="#" class="thumbnail">
          <img src="<%= asset_path 'dailymotion.png' %>" alt="dailymotion">
        </a>
      </div>
      <div class="col-md-4">
        <a href="#" class="thumbnail">
          <img src="<%= asset_path 'vimeo.jpg' %>" alt="vimeo">
        </a>
      </div>
    </div>
    <br>

    <%= f.text_field :title %>
    <%= f.text_field :url   %>

  </div>
  <div class="modal-footer">
      <%= f.primary t('add'), id: 'add_video' %>
  </div>
<% end %>
