<nav class="navbar navbar-static-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-hlm-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="<%= asset_path 'logo.jpg' %>" alt="hlm">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-hlm-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
            <li><%= link_to t('nav.home').upcase,     root_url %></li>
            <li><%= link_to t('nav.about').upcase,    root_url %></li>
            <li><%= link_to t('nav.contact').upcase,  root_url %></li>
            <li><%= link_to t('logout').upcase,       logout_path %></li>
        <% else %>
            <li><%= link_to t('signup').upcase,       signup_path %></li>
            <li><%= link_to t('login').upcase,        login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="business-header" id="business-header">
  <div class="container">
  </div>
</div>
