<div class="panel panel-default" id="sidebar-themes">
  <div class="panel-heading">
    <h4 class="panel-title">
      <%= fa_icon "sitemap" %>
      <%= t('cells.themes.title') %>
    </h4>
  </div>
  <div class="list-group">
    <% @themes.each do |t| %>
      <%= link_to theme_path(t.slug), class: 'theme list-group-item' do %>
        <%= t.title %>
        <span class="badge"><%= t.article_count %></span>
      <% end %>
    <% end %>
  </div>
</div>
