<section class="sidebar">
  <ul class="sidebar-menu">
    <li class="active">
      <%= link_to admin_root_path do %>
        <i class="fa fa-dashboard"></i>
        <span><%= t('admin.dashboard') %></span>
      <% end %>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-pencil"></i>
        <span><%= t('admin.editorial') %></span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-warning"></i>
        <span><%= t('admin.alert') %></span>
      </a>
    </li>
    <li>
      <%= link_to admin_reports_path do %>
        <i class="fa fa-eye"></i>
        <span><%= t('admin.moderation') %></span>
      <% end %>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-exchange"></i>
        <span><%= t('admin.import_export') %></span>
      </a>
    </li>
  </ul>
</section>
