<div class="col-xs-6 col-md-4">
  <div class="thumbnail" data-url="<%= file_select.article_image_url(:thumb) %>" data-caption="<%= file_select.title %>">
    <img src="<%= file_select.article_image_url(:thumb) %>" alt="<%= file_select.title %>">
    <div class="caption">
      <h4><%= file_select.title %></h4>
      <button type="button" class="btn btn-primary btn-sm btn-block">
        <%= t('article.image.do.select') %>
      </button>
    </div>
  </div>
</div>
