<div class="col-xs-12 col-md-6">
  <div class="thumbnail" data-caption="<%= file_select.title %>">
    <img src="<%= file_select.article_image_url(:medium) %>" alt="<%= file_select.title %>">
    <div class="caption text-center">
      <h4><%= file_select.title %></h4>
      <button type="button" class="btn btn-primary btn-sm" data-url="<%= file_select.article_image_url(:thumb) %>">
        <%= t('article.image.do.select_thumb') %>
      </button>
      <button type="button" class="btn btn-primary btn-sm" data-url="<%= file_select.article_image_url(:medium) %>">
        <%= t('article.image.do.select_normal') %>
      </button>
      <button type="button" class="btn btn-primary btn-sm" data-url="<%= file_select.article_image_url(:large) %>">
        <%= t('article.image.do.select_large') %>
      </button>
    </div>
  </div>
</div>
