<head>
  <!-- HabitantsLieuxMemoires <%= Rails.application.config.version %> (<%= l(Rails.application.config.version_date) %>) -->

  <title>Habitants Lieux Mémoires</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= favicon_link_tag       'favicon.ico' %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="https://oss.maxcdn.com/es5.shim/2.1.0/es5-shim.min.js">
  <![endif]-->

  <%= render 'layouts/js_locales' %>

  <%= csrf_meta_tags %>
</head>
