<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <%= render 'layouts/head' %>

  <body data-env="<%= Rails.env %>">
    <%= render 'shared/header' %>

    <div class="container">
      <hr>
      <%= render 'shared/messages' %>
      <div class="row">
        <%= yield %>
      </div>
    </div>

    <%= render 'shared/footer' %>

    <%= javascript_pluggable_tag %>
  </body>
</html>
