<!doctype html>
<!--[if IE 8]><html lang="en" class="ie ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie ie9"><![endif]-->
<!--[if !IE]><!--><html lang="en"><!--<![endif]-->
<html lang="<%= I18n.locale %>">

  <%= render 'layouts/head' %>

  <body data-env="<%= Rails.env %>">
    <%= render 'shared/header' %>

    <div class="container">
      <hr>
      <div class="row">
        <%= yield %>
      </div>
    </div>

    <%= render 'shared/footer' %>
    <%= render 'shared/current_user' %>

    <%= javascript_pluggable_tag %>
  </body>
</html>
